---
import Layout from '../layout/Layout.astro';
import { Markdown } from 'astro/components';
import Counter from '../components/Counter.jsx'
const someProps = {
  count: 0,
}
const title = 'About us'
---
<Layout title={title}>
  <h1 class="page-title">{title}</h1>
  <Counter {...someProps} client:visible />
  <div class="wp-content">
    <Markdown>
      ## Hello world!

      The contents inside here is all in markdown.
    </Markdown>
  </div>
</Layout>
